<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Autores </h1>
        <p>Azucena Ortiz Pizarro y Marta Lorenzo Fernandez</p>
        <img src="/images/azucena.jpeg">
    </body>
</html>